.header {
    background-color: $colorMain;
    padding: 10px 15px;

    &-inner {
        max-width: $maxwidth;
        width: 100%;
        margin: 0px auto;
    }

    &-wrapper {
        @include flexbox();
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &-logo {
        &-link {
            .logo {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: contain;

            }

            .logo-desktop {
                background: url('../img/icons/logo-zrub-dom.svg');
                width: 130px;
                height: 100px;
            }

            .logo-mobile {
                display: none;
            }
        }
    }

    &-menu-list {
        @include flexbox();
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: center;

        &-link {
            padding: 5px 30px 5px 30px;
            font-size: 16px;
            font-family: $fontfamilyHeader;
            color: $colorText;
            line-height: 20px;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-additional {
        @include flexbox();
        flex-flow: column nowrap;
    }

    &-language-link_ua {
        margin-left: 10px;
        color: $colorText;
        font-family: $fontfamilyHeader;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: right;

        &:hover {
            text-decoration: underline;
        }

        &::before {
            content: '';
            background: url("../img/icons/icon-lang-ua.svg");
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
    }

    &-language-link_ru {
        margin-left: 10px;
        color: $colorText;
        font-family: $fontfamilyHeader;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-align: right;

        &:hover {
            text-decoration: underline;
        }

        &::before {
            content: '';
            background: url("../img/icons/icon-lang-ru.svg");
            width: 30px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 45px;
        }
    }

    &-contact {
        margin: 15px 0px 0px 10px;

        &-link {
            color: $colorText;
            font-family: $fontfamilyHeader;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            text-align: right;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-burger {
        display: none;

        &-menu-lang {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .header-menu-list {
        &-link {
            padding: 0px 10px 0px 10px;
            font-size: 14px;
        }
    }

    .header-language-link {
        font-size: 14px;
    }

    .header-contact-link {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;

        &-wrapper {
            position: relative;
            height: 50px;
        }

        &-logo {
            position: relative;
            z-index: 3;

            .logo-desktop {
                display: none;
            }

            .logo-mobile {
                background: url('../img/icons/logo-zrub-dom-mobile.svg');
                width: 70px;
                height: 60px;
                display: block;
            }
        }

        &-menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 385px;
            transition: all 0.5s ease 0s;
            background-color: #ffffff;
            padding: 75px 0px 0px 0px;

            &.active {
                top: 0;
            }

            &-list {
                display: block;

                li {
                    padding: 15px 0px 10px 0px;
                }
            }
        }

        &-language-link_ua {
            margin-left: 0px;

            &::before {
                margin-right: 10px;
            }
        }

        &-language-link_ru {
            margin-left: 0px;

            &::before {
                margin-right: 10px;
            }
        }

        &-burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;

            &::before,
            &::after {
                content: '';
                background-color: $colorText;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &.active .icon-burger {
                transform: scale(0);
            }

            &.active::before {
                transform: rotate(45deg);
                top: 9px;
            }

            &.active::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }

            .icon-burger {
                background-color: $colorText;
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
                transition: all 0.3s ease 0s;
            }

        }

        &-additional {
            display: none;
        }

        &-burger-menu-lang {
            display: block;
            background-color: $colorMain;
        }
    }
}